# Default ignored files
/shelf/
/workspace.xml
/usage.statistics.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/mentcarebackend/migrations/
*.pyc
*.iml
*.idea
.idea
__pycache__
/mentcare/__psycache__/
/mentcarebackend/__psycache__/
mentcarebackend/__pycache__/__init__.cpython-310.pyc
mentcarebackend/__pycache__/admin.cpython-310.pyc
mentcarebackend/__pycache__/apps.cpython-310.pyc
mentcarebackend/__pycache__/models.cpython-310.pyc
mentcarebackend/__pycache__/views.cpython-310.pyc
mentcarebackend/migrations/__pycache__/__init__.cpython-310.pyc
/node_modules/
